@import "tailwindcss";

.iconStyle {
  @apply w-12 h-12 flex items-center justify-center rounded-xl bg-[#0d1117]
         border text-2xl transition-all duration-300 cursor-pointer
         hover:scale-110;
}
